/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.env

.env
.env
.env
routes/front_office_client_route.php
resources/views/FOC/header.blade.php
