/* category.scss */

$table-border-color: #ccc;
$table-header-background-color: #f2f2f2;
$table-header-color: #333;
$table-row-background-color: #ffffff;
$table-row-color: #666;
$button-primary-color: #4CAF50;
$button-hover-color: #45a049;

h2{
    color: orangered;
}

body {
    font-family: cursive;
    margin: 150px;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid $table-border-color;
    border-collapse: collapse;

    th {
        background-color: $table-header-background-color;
        color: $table-header-color;
        padding: 10px;
        border: 1px solid $table-border-color;
    }

    td {
        background-color: $table-row-background-color;
        color: $table-row-color;
        padding: 10px;
        border: 1px solid $table-border-color;
    }
    text-align: center;
}

input[type="button"], 
input[type="submit"]
{
    background-color: $button-primary-color;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        background-color: $button-hover-color;
    }
}

$input-border-color: #ccc;
$input-background-color: #f2f2f2;
$input-color: #333;
$input-padding: 8px 12px;
$input-border-radius: 4px;
input[type="text"],
input[type="number"],
select
{
    border: 1px solid $input-border-color;
    background-color: $input-background-color;
    color: $input-color;
    padding: $input-padding;
    border-radius: $input-border-radius;
    margin-bottom: 20px;
  
    &:focus {
      outline: none;
      box-shadow: 0 0 5px $input-border-color;
    }
}
  
header{
    box-shadow: 0 0 7px rgb(240, 240, 240);
    float: right;
    width: 80%;
    height: 70px;
    background-color: #2A1F1D;

}

#Logo{
    width: 250px;
    height: 70px;
    float: left;
}
#Logo img{
    width: 100px;
    height: 70px;
    margin-right: 150px;
}

.fa-bell{
    float: right;
    margin-top: 17px;
    margin-right: 100px;
    color: white;
    
}
          
.fa-bell:hover {
    color: #e17b36;
}
  

body{
    margin: 0;
}

nav {
    width: 20%;
    float: left;
    text-align: center;
    background-color: #2A1F1D;
    color: white;
    height: 745px;
    padding-top: 2.5%;

    a {
        color: #FFF;
        text-decoration: none;
    }

    #user i {
        font-size: 100px;
    }

    #toggleList i {
        font-size: 25px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 10px;

        li {
            a {
                display: flex;
                align-items: center;
                color: #FFF;
                margin-left: 75px;

                i {
                    margin-right: 10px;
                    color: #45a049;
                }
            }
        }
    }

    #list i{
        font-size: 20px;
    }
}

.contenu {
    float: right;
    width: 80%;
}