/* category.scss */

$table-border-color: #ccc;
$table-header-background-color: #f2f2f2;
$table-header-color: #333;
$table-row-background-color: #ffffff;
$table-row-color: #666;
$button-primary-color: #4CAF50;
$button-hover-color: #45a049;

h2{
    color: orangered;
}

body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border: 1px solid $table-border-color;
    border-collapse: collapse;

    th {
        background-color: $table-header-background-color;
        color: $table-header-color;
        padding: 10px;
        border: 1px solid $table-border-color;
    }

    td {
        background-color: $table-row-background-color;
        color: $table-row-color;
        padding: 10px;
        border: 1px solid $table-border-color;
    }
    text-align: center;
}

input[type="button"], 
input[type="submit"] 
 {
    background-color: $button-primary-color;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        background-color: $button-hover-color;
    }
}

$input-border-color: #ccc;
$input-background-color: #f2f2f2;
$input-color: #333;
$input-padding: 8px 12px;
$input-border-radius: 4px;
input[type="text"],
input[type="number"]
 {
    border: 1px solid $input-border-color;
    background-color: $input-background-color;
    color: $input-color;
    padding: $input-padding;
    border-radius: $input-border-radius;
  
    &:focus {
      outline: none;
      box-shadow: 0 0 5px $input-border-color;
    }
  }
  