.info-terrain {
    margin-top: 5%;
}

.radio {
    margin-right: 80%;
}

/* .info-terrain .btn {
    margin-right: 80%;
    width: 70%;
    background-color: #ffc107;
    border: none;
    color: black;
}

.contenu-terrain {
    background-color: aliceblue;
    margin-bottom: 3%;
    padding-bottom: 5%;
}

/* .contenu-terrain .btn {
    width: 50%;
} */

} */

.contenu-terrain {
    background-color: aliceblue;
    /* margin-bottom: 3%; */
    padding-bottom: 5%;
}

.contenu-terrain .btn {
    margin-top: 6%;
}

.info-terrain .btn-edited {
    margin-bottom: 20%;
}

.info-terrain .label-for-radio {
    width: 150px;
    display: flex;
}

#map {
    position: absolute;
    height: 320px;
    width: 610px;
}

.sig-map {
    margin-top: 5%;
    padding-right: 22%;
}

.sig-map .btn {
    margin-top: 0%;
}
