$principal-color: #E17B36;
$secondar-color: #2A1F1D;
$other-color-1: #33658A;

.menu {
    box-shadow: 3px 3px 5px #2a1f1d3b;
}

.navbar-links {
    margin-left: 5%;

    ul {
        li {
            margin-left: 20px;
            margin-right: 20px;
            font-weight: 600;

            .nav-link:hover {
                color: $principal-color !important;
            }
        }
    }
}

.titre {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #E17B36 !important;
}

.dropdown-list {
    position: absolute !important;
    left: -500px !important;
    min-width: 550px;
    font-size: 14px;

    a {
        border-radius: 5px;

        &:hover {
            color: #000 !important;
        }

        &:active {
            background-color: transparent;
            color: #000;
        }

        .fieldName {
            color: #33658A;
            font-weight: 500;
        }

        .time-prevision {
            color: rgb(60, 153, 60);
        }

        .time-last {
            color: rgb(214, 48, 42);
        }
    }

}