.infoProfil {
    margin-top: 5%;
}

.form-group label {
    margin-right: 80%;
}

.profil {
    width: 22%;
    margin-right: 10%;
    margin-top: 2%;
    /* margin-bottom: 5%; */
    border-radius: 50%;
}

.client-picture{
    height: 180px;
    /* margin-left: 11%; */
    padding-top: 5%;
    /* padding-bottom: 19%; */
    background-color: #f2ebea82;
    border-radius: 10px;
  }  

.cinPdp {
    height: 210px;
    width: 30%;
    padding-top: 7%;
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    margin-left: 2%;
    background-color: #f2ebea82;
}

.idInfo {
    background-color: #f2ebea82;
}