
.btn-primary{
    margin-top: 10%;
}

.infoProfil {
    padding-bottom: 2%;
    margin-top: 2%;
}

.image-place-cin {
    width: 50%;
}

.image-place-cin img {
    width: 200px;
    height: 200px;  
}
  