body {
    margin-top: -10%;
    /* background-color: white; */
}

.infoProfil {
    margin-top: 5%;
}

.card-header h4 {
    text-align: center;
}

.form-group input {
    width: 70%;
    margin-left: 20%;
}

.form-group label {
    text-align: justify;
    margin-right: 50%;
}

.profil {
    width: 22%;
    margin-right: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50%;
}

.cinPdp {
    width: 20%;
    padding-top: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    background-color: #f2ebea82;
}

.idInfo {
    background-color: #f2ebea82;
}