.sub-fact-annee {
    padding-top: 3%;
    padding-bottom: 2%;
}

.sub-fact-annee label {
    padding-top: 10%;
}

.payement-sub-fact {
    padding-top: 10%;
}

.contenu-sub-fact {
    background-color: aliceblue;
    margin-top: 3%;
}

/* .mvola-pic {
} */

.info-payement {
    padding-bottom: 5%;
    padding-top: 5%;
}


