<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/category.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Mon site</h1>
    </header>

    <nav>
        <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Catégories</a></li>
            <li><a href="#">Produits</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <form action="" method="post">
        <h2>Category</h2>
        <h3>Listes des categories</h3>
        <table border="1">
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Categorie A</td>
                <td>1000 Ar</td>
                <td>
                    <input type="button" value="Modifier">
                    <input type="button" value="Supprimer">
                </td>
            </tr>
            <tr>
                <td>Categorie B</td>
                <td>2000 Ar</td>
                <td>
                    <input type="button" value="Modifier">
                    <input type="button" value="Supprimer">
                </td>
            </tr>
            <tr>
                <td>Categorie C</td>
                <td>3000 Ar</td>
                <td>
                    <input type="button" value="Modifier">
                    <input type="button" value="Supprimer">
                </td>
            </tr>
        </table>
        <p>Ajouter une catégorie : <input type="text" name="">
        Ajouter le prix de l'abonnement : <input type="number" name=""> Ar</p>
        <input type="submit" value="Ajouter">
    </form>
</body>
</html>
